{{ define "main" }}
    {{ if .Params.construction }}
        <h1>🚧 Under Construction 🚧</h1>
        <h3>This page will be available soon.</h3>
    {{ else }}
        <ul>
        {{ range .Sections }}
            <li>
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                <ul>
                    {{ range .Pages }}
                        <li>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </li>
        {{ end }}
        </ul>
    {{ end }}
{{ end }}
